#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: red;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

.sort-by-name {
  margin: 20px;
  padding: 10px;
}

.sort-by-name-active {
  background-color: green;
  color: white;
  margin: 20px;
  padding: 10px;
}

.sort-by-date {
  margin: 20px;
  padding: 10px;
}

.sort-by-date-active {
  background-color: green;
  color: white;
  margin: 20px;
  padding: 10px;
}

.search-email {
  padding: 10px;
}

.search-area {
  padding: 10px;
}

.search-input {
  height: 40px;
}

.search-input:focus {
  box-shadow: none;
}

.search-input:hover {
  box-shadow: none;
}

.clear {
  margin: 20px;
  padding: 10px;
}

.back {
  margin: 20px;
  padding: 10px;
}

.back-btn {
  margin: 5px;
  padding: 5px;
}

.forward-btn {
  margin: 5px;
  padding: 5px;
}

.current-page {
  width: 20px;
}

.csv-download {
  text-decoration: none;
  right: 80px;
}

button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}
