
/* fonts */
$font-family-heading: Georgia;
$font-family-subheading: Arial;
$font-family-paragraph: Arial;

/* font sizes */
$font-size-heading: 32px;
$line-height-heading: 44px;

$font-size-sm-heading: 16px;
$line-height-sm-heading: 28px;

$font-size-subheading: 16px;
$line-height-subheading: 28px;

$font-size-paragraph: 16px;
$line-height-paragraph: 28px;

/* opacity */
$opacity-sm-heading: 0.5;
$opacity-paragraph: 0.5;
