.social-icons {
  position: absolute;
  width: 244px;
  height: 46px;
  left: 218px;
  top: 791px;
}

.facebook-icon {
  background-image: url("../../images//social-icons//facebook.png");
  position: absolute;
  width: 46px;
  height: 46px;
  left: 218px;
  top: 791px;
  border-radius: 50%;
}

.facebook-icon:hover {
  background-image: url("../../images//social-icons//facebook-hover.png");
  position: absolute;
  width: 46px;
  height: 46px;
  left: 218px;
  top: 791px;
  border-radius: 50%;
  box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
}

.facebook-icon:active {
  background-image: url("../../images//social-icons//facebook-pressed.png");
  position: absolute;
  width: 46px;
  height: 46px;
  left: 218px;
  top: 791px;
  border-radius: 50%;
  box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
}

.instagram-icon {
  background-image: url("../../images//social-icons//instagram.png");
  position: absolute;
  width: 46px;
  height: 46px;
  left: 284px;
  top: 791px;
  border-radius: 50%;
}

.instagram-icon:hover {
  background-image: url("../../images//social-icons//instagram-hover.png");
  position: absolute;
  width: 46px;
  height: 46px;
  left: 284px;
  top: 791px;
  border-radius: 50%;
  box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
}

.instagram-icon:active {
  background-image: url("../../images//social-icons//instagram-pressed.png");
  position: absolute;
  width: 46px;
  height: 46px;
  left: 284px;
  top: 791px;
  border-radius: 50%;
  box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
}

.twitter-icon {
  background-image: url("../../images//social-icons//twitter.png");
  position: absolute;
  width: 46px;
  height: 46px;
  left: 350px;
  top: 791px;
  border-radius: 50%;
}

.twitter-icon:hover {
  background-image: url("../../images//social-icons//twitter-hover.png");
  position: absolute;
  width: 46px;
  height: 46px;
  left: 350px;
  top: 791px;
  border-radius: 50%;
  box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
}

.twitter-icon:active {
  background-image: url("../../images//social-icons//twitter-pressed.png");
  position: absolute;
  width: 46px;
  height: 46px;
  left: 350px;
  top: 791px;
  border-radius: 50%;
  box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
}

.youtube-icon {
  background-image: url("../../images//social-icons//youtube.png");
  position: absolute;
  width: 46px;
  height: 46px;
  left: 416px;
  top: 791px;
  border-radius: 50%;
}

.youtube-icon:hover {
  background-image: url("../../images//social-icons//youtube-hover.png");
  position: absolute;
  width: 46px;
  height: 46px;
  left: 416px;
  top: 791px;
  border-radius: 50%;
  box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
}

.youtube-icon:active {
  background-image: url("../../images//social-icons//youtube-pressed.png");
  position: absolute;
  width: 46px;
  height: 46px;
  left: 416px;
  top: 791px;
  border-radius: 50%;
  box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
}
